:root {
  --font-rub: 'Rubik', Arial, Helvetica, sans-serif;
  --color-white: #fff;
  --color-black: #000;
  --color-pink: #f53855;
  --color-red: #f53838;
  --color-dark: #0b132a;
  --color-gray: #4f5665;
}